// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #2f2519;
$nav-grey: #4a3f35;
$dark: #221812;
$orange-light: #fa7d09;
$orange: #ff4301;