<div class="container world">
  <div class="page-header">
    <h1>handpick'd</h1>
    <p>one handpicked piece of entertainment once a day. pick your poison:</p>
  </div>
  <br>
  <div class="options-container">
    <div class="row">
      <div class="option option-link col-12 col-lg-3">
        <div class="option-description">
          <h4>Fernando, what does the future hold?</h4>
        </div>
        <div class="option-header" id="science">
          <h2>science</h2>
        </div>
      </div>
      <div class="option option-link col-12 col-lg-3" id="fun">
        <div class="option-description">
          <h4>Make me chuckle</h4>
        </div>
        <div class="option-header">
          <h2>fun</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="option option-link col-12 col-lg-3" id="art">
        <div class="option-description">
          <h4>Show me something beautiful</h4>
        </div>
        <div class="option-header">
          <h2>art</h2>
        </div>
      </div>
      <div class="option option-link col-12 col-lg-3" id="porn">
        <div class="option-description">
          <h4>Penises, skin and fluids</h4>
        </div>
        <div class="option-header">
          <h2>porn</h2>
        </div>
      </div>
    </div>
  </div>
</div>