<!--<iframe width="800" height="600" src="http://www.youtube.com/embed/<% @spirituality %>" frameborder="0"></iframe>-->
<div class="content">
  <p>You don't need coffee; you need sleep.</p>
  <p>You don't need nicotine; you need to walk.</p>
  <p>You don't need booze; you need to laugh hard.</p>
  <p>You don't need sex; you need connection.</p>
  <p>You don't need to scream; you need to express yourself.</p>
  <p>You don't need to tragic; you need to listen.</p>
  <p>You don't need synthetic drugs; you need art.</p>
  <p>You don't need inspiring; you need to be hugged.</p>
  <p>You don't need TV; you need poetry.</p>
  <p>You don't need to buy; you need Nature.</p>
  <p>You don't need to judge, you need empathy.</p>
  <p>You don't need religions; you need questions.</p>
  <p>You don't need love relationships; you need self love.</p>
  <p>You need your self.</p>
  <p>I need me.</p>
  <p>Above everything you need inner peace, which requires harmony between the inside and the outside.</p>
  <p>Do what you believe and believe in what you do.</p>
</div>
