.page-header {
  color: white;
  font-family: $headers-font;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 44px;
  position: fixed;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  background: #221813;
  background: -webkit-linear-gradient(top, #221813, #221813d3);
  background: -moz-linear-gradient(top,#221813, #221813d3);
  background: linear-gradient(to bottom,#221813, #221813d3);
  text-shadow: -1px -2px rgba(0, 0, 0, 0.9);
  transition: all 1.7s ease-out;
  @media only screen and (max-width: 735px) {
    padding-left: 14px;
    padding-top: 0;
  }
  h1 {
    width: fit-content;
    font-size: 90px;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    &:hover {
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.904);
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
      width: fit-content;
    }
  }
  p {
    font-size: 30px;
    width: fit-content;
    margin-bottom: 10px;
    @media only screen and (max-width: 735px) {
      display: none;

    }
  }
}
.options-container {
  text-align: center;
  margin: 190px 0 20px 35px;
  padding-right: 56px;
  @media only screen and (max-width: 735px) {
    margin: 90px 0 20px 20px;
  }

}
.hidden {
  display: none;
}
.content {
  width: fit-content;
  margin-top: 200px;
  margin-left: 44px;
  transition: all 1s ease;
  @media only screen and (max-width: 735px) {
    width: 300px;
    margin-left: 12px;
    margin-top: 130px;
  }
  p {
    color: white;
  }
}