.navbar-hp {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 48px;
  background: $nav-grey;
  ul {
    list-style: none;
  }
  .logout-btn {
    position: absolute;
    bottom: 10px;
    left: 7px;
    z-index: 10;
    text-decoration: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url("../../images/logoutbtn.png");
    background-size: contain;
  }
}